vti_encoding:SR|utf8-nl
vti_author:SR|Peter
vti_modifiedby:SR|INDONESIA\\pga
vti_timecreated:TR|23 Oct 1999 00:23:01 -0000
vti_timelastmodified:TR|09 Apr 2006 03:36:45 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|menu/travels.htm menu/travels2.htm menu/fun.htm menu/indonesia.htm menu/me.htm menu/gallery2.htm main.htm main2.htm menu/menu.htm menu/gallery.htm menu/various.htm main+old+animated.htm
vti_syncofs_home14.inet.tele.dk\:21:TW|27 Mar 1999 14:20:00 -0000
vti_syncwith_home14.inet.tele.dk\:21:TX|23 Oct 1999 00:23:02 -0000
vti_lineageid:SR|{4CBDD626-CCC9-11D5-A399-444553540000}
vti_cacheddtm:TX|09 Apr 2006 03:36:45 -0000
vti_filesize:IR|498
